body {
    background-color: black;
    font-family: 'Asap', sans-serif
}
/* box model comment*/
#container {
    background-color: white;
    color: black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
.left-col {
    float: left;
    color: #A64AC9;
}
.right-col {
    float: right;
}
.clearFix {
    clear: both;
}
h1 {
    color: #A64AC9;
}
#gitHub {
    color: #A64AC9;
    text-decoration: none;
    border: 3px solid #A64AC9;
    padding: 10px;
    display: inline-block;
}
.Hawaiimoon {
    width: 200px;
}