body {
    background-color: black;
    font-family: 'Philosopher', sans-serif;
}
/*The box model states every element is a box that includes content, padding, a border and a margin.  Content is the inner-most part of the box where text/images are. Padding is a transparent component that adds blank space around the content.  A margin is a transparent component that adds blank space around the outside of the border. A border, can be visible or transparent, separates the padding from the margin.*/
#container {
    background: linear-gradient(90deg, rgb(78, 78, 82), rgb(15, 15, 15));
    background-color:  rgb(78, 78, 82);
    color: rgb(212, 212, 236);
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}
.left-col {
    float: left;
    color: rgb(109, 224, 253);
    width: 48%;
}
.right-col {
    float: right;
   width: 48%;
}
.clearFix {
    clear: both;
}
h1 {
    color: rgb(109, 224, 253);
}
#gitHub {
    color: rgb(109, 224, 253);
    text-decoration: none;
    border: 3px solid rgb(109, 224, 253);
    border-radius:8px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Lucida Sans';
}
.hawaiiMoon {
    width: 200px;
    vertical-align: top;
    float: right;
}
.blue {
    color: rgb(109, 224, 253);
    font-family: 'Lucida Sans';
}
h2 {
    color: rgb(212, 212, 236);
}
p {
    color: rgb(212, 212, 236);
}