body {
    background-color: black;
    font-family: 'Asap', sans-serif;
}
/*The box model states every element is a box that includes content, padding, a border and a margin.  Content is the inner-most part of the box where text/images are. Padding is a transparent component that adds blank space around the content.  A margin is a transparent component that adds blank space around the outside of the border. A border, can be visible or transparent, separates the padding from the margin.*/
#container {
    background-color: white;
    color: black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
.left-col {
    float: left;
    color: #A64AC9;
    width: 48%;
}
.right-col {
    float: right;
   width: 48%;
}
.clearFix {
    clear: both;
}
h1 {
    color: #A64AC9;
}
#gitHub {
    color: #A64AC9;
    text-decoration: none;
    border: 3px solid #A64AC9;
    border-radius:8px;
    padding: 10px;
    display: inline-block;
}
.hawaiiMoon {
    width: 200px;
    vertical-align: top;
}
.purple {
    color: #A64AC9;
}